#projects-all {
  .button-start-project {
    margin-bottom: 15px;
  }

  .project-list {
    .project-single-link {
      .project-single {
        border: 2px solid #c7c7c7;
        border-radius: 4px;
        padding: 0 15px;

        &:hover {
          background: #f2f2f2;
        }
      }
    }
  }
}

#project-single-view {
  .page-header {
    display: flex;
    align-items: center;
    padding-bottom: 30px;

    .page-title {
      margin: 0 15px 0 0;
      display: inline-block;
    }

    .project-status {
      padding: 5px 10px;
    }
  }

  section {
    margin-bottom: 30px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  .team-wrap {
    margin-bottom: 30px;
  }

  .team-members {

    h5 {
      display: inline-block;
      margin-right: 10px;
    }

    .team-wrap {
      padding: 30px;

      .team-single-member {
        height: 175px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0 0 15px;

        .fa-user {
          flex: 100%;
          text-align: center;
          font-size: 125px;
          color: $blue;

          &.pending {
            color: $grey;
          }
        }

        span {
          flex: 100%;
          text-align: center;
        }
      }
    }
  }
}

#projects-team-add {
  .panel {
    margin: 20px 0 0 0;

    section {
      margin: 0 0 30px 0;
      &:last-child {
        margin: 0;
      }
    }
  }

}