#purchase-requests-all {

  #button-make-purchase-request {
    width: 370px;
    margin-bottom: 30px;
    display: block;
  }

  .table-purchase-requests {

    tbody {
      tr {

        &.completed {
          color: $dark-grey;
        }

        &.cancelled {
          color: $dark-red;
        }
      }
    }
  }

}

#purchase-requests-add {
  .urgent-button {
    border: 2px solid $border-light;
    background: $grey;
    color: $text-muted;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &.active {
      background: $yellow;
      color: #fff;
      border: 2px solid $yellow;
    }
  }

  .item-selection {
    border: 2px solid $border-light;
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 0 30px;

    .item_buttons {
      display: flex;

      button:first-child {
        margin-right: 30px;
      }

      button {
        margin: 0 0 15px;
      }
    }

    .existing_item {
      .spec-table-wrap {
        background: #fff;
        max-height: 650px;
        overflow-y: scroll;

        table {
          margin: 0;
          border-radius: 3px;

          td {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}



