#purchase-requests-all {

  #button-make-purchase-request {
    margin-bottom: 30px;
    display: block;
  }

  .table-purchase-requests {

    tbody {
      tr {

        &.completed {
          color: $dark-grey;
        }

        &.cancelled {
          color: $dark-red;
        }
      }
    }
  }

}

#purchase-requests-add {

  .urgent-button {
    border: 2px solid $border-light;
    background: $grey;
    color: $text-muted;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    &.active {
      background: $yellow;
      color: #fff;
      border: 2px solid $yellow;
    }
  }

  .project-selection {
    margin: 0 0 30px;
  }

  .item-selection {
    padding: 30px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin: 0 0 30px;
    background: $light-grey;

    h5 {
      color: $dark-grey;
    }

    .item_buttons {
      display: flex;

      button:first-child {
        margin-right: 30px;
      }

      button {
        margin: 0 0 15px;
      }
    }

    .pr-existing-item {
      .spec-table-wrap {
        background: #fff;
        max-height: 650px;
        overflow-y: scroll;
        border: 2px solid $dark-grey;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;

        table {
          margin: 0;
          border-radius: 3px;

          td {
            padding: 10px 15px;
          }
        }
      }

      .selected-existing {
        padding: 15px;
        border-radius: 3px;
        position: relative;
        background: #fff;

        .btn-remove {
          position: absolute;
          top: 10px;
          right: 15px;
        }

        h2 {
          font-weight: bold;
          margin: 0 0 5px 0;
          color: $dark-grey;
        }

        p {
          color: $dark-grey;
        }
      }
    }

    .pr-new-item {
      label {
        color: $dark-grey;
      }
    }
  }

  .new-pr-add-photo {
    position: relative;
  }

  .request-specifics {

    table {
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;

      tr {
        height: 50px;

        th, td {
          vertical-align: middle;
        }

        td {
          width: 80%;

          input {
            border: 0;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            width: 100%;

            &[type='checkbox'] {
              width: auto;
              margin: 0 5px 0 0;
            }

            &:hover, &:focus, &:active {
              outline: none;
            }
          }

          label {
            margin: 0;
          }
        }
      }
    }
  }
}

#purchase-request-single {

  .page-body {

    .badge-warning {
      color: #fff;
      background: $dark-yellow;
      padding: 10px;
      border-radius: 6px;
      font-size: 14px;
      text-transform: uppercase;
      margin: 0 0 0 15px;

      i {
        margin: 0 5px 0 0;
      }
    }

    .item-details {
      margin: 0 0 30px;

      h2 {
        margin: 0 0 15px;
        display: flex;
        align-items: center;
      }

      .btn-file {
        width: 140px;
      }
    }
  }

  #form-pr-cancel {
    text-align: right;

    .button-cancel {
      width: auto!important;
      display: inline-block;
    }
  }

}


