#dashboard {

  .company-overview {
    color: #fff;

    .panel-body {
      padding: 10px;
      height: 110px;
      @include border-radius($small-border-radius);

      .details {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .number {
          font-size: 1.5em;
          margin: 0;
          color: #fff;

          @media screen and (min-width: $screen-md-min) {
            font-size: 2em;
          }

          @media screen and (min-width: $screen-lg-min) {
            font-size: 3em;
          }
        }

        .icon-overview {
          display: inline-block;

          svg {
            width: 70px !important;
            height: 70px !important;
          }
        }
      }
    }

    .vendors {
      background: $dark-yellow;
    }

    .items {
      background: $dark-red;
    }

    .requests {
      background: $dark-green;
    }

    .orders {
      background: $dark-blue;
    }
  }

  #dashboard-calendar {

    .fc-button {
      @include box-shadow(none);
      background-image: none;
      background: #fff;
      border: 1px solid $border-light;
      color: $midnight-light;

      &:hover, &:focus, &:active {
        outline: 0;

        &:disabled {
          cursor: not-allowed;
        }
      }

      &:hover:not([disabled]) {
        color: $blue;
      }
    }

    .fc-event {
      border: 0;
      border-radius: 0;
      padding: 5px 10px;
      &:hover, &:focus, &:active {
        color: #fff;
      }
    }

    .event-payable {
      background: $dark-blue;
      &:hover {
        background: $blue;
      }
    }

    .event-delivery {
      background: $dark-green;
      &:hover {
        background: $green;
      }
    }
  }

}