#dashboard {

  .date {
    .month-year {
      display: flex;
      justify-content: space-between;
      font-size: 2em;
    }

    .day {
      text-align: center;
      font-size: 3.5em;

      &.weekday {
        margin: 10px 0 0 0;
      }

      &.calendar {
        margin: 0 0 15px;
      }
    }
  }

  .actionables {
    h1 {
      text-align: center;
    }
  }

}