#dashboard {

  .company-overview {
    margin: 0 0 15px;

    @media screen and (min-width: $screen-sm-min) {
      margin: 0 -15px 30px -15px;
    }

    &.full {
      color: #fff;

      .panel-body {
        padding: 10px;
        height: 110px;
        @include border-radius($small-border-radius);

        .details {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .number {
            font-size: 1.5em;
            margin: 0;
            color: #fff;

            @media screen and (min-width: $screen-md-min) {
              font-size: 2em;
            }

            @media screen and (min-width: $screen-lg-min) {
              font-size: 3em;
            }
          }

          .icon-overview {
            display: inline-block;

            svg {
              width: 70px !important;
              height: 70px !important;
            }
          }
        }
      }

      .vendors {
        background: $dark-yellow;
      }

      .items {
        background: $dark-red;
      }

      .requests {
        background: $dark-green;
      }

      .orders {
        background: $dark-blue;
      }
    }

    &.compact {

      ul {
        li {
          display: flex;
          justify-content: space-between;
          font-size: 1.2em;
          margin: 5px 0;

          .icon-overview {
            display: inline-block;
            width: 25px!important;
            svg {
              width: 25px !important;
              height: 25px !important;
            }
          }
        }
      }
    }
  }

  #dashboard-calendar {
    margin: 0 0 15px;
    @media screen and (min-width: $screen-sm-min) {
      margin: 0 0 30px;
    }


    .fc-button {
      @include box-shadow(none);
      background-image: none;
      background: #fff;
      border: 1px solid $border-light;
      color: $midnight-light;

      &:hover, &:focus, &:active {
        outline: 0;

        &:disabled {
          cursor: not-allowed;
        }
      }

      &:hover:not([disabled]) {
        color: $blue;
      }
    }

    .fc-event {
      border: 0;
      padding: 3px 5px;
      &:hover, &:focus, &:active {
        color: #fff;
      }
    }

    .event-payable {
      background: $blue;
      &:hover {
        background: $dark-blue;
      }
    }

    .event-delivery {
      background: $green;
      &:hover {
        background: $dark-green;
      }
    }
  }

  #dashboard-quick-links  {
    ul {

      margin: 0;

      li {
        text-align: center;
      }
    }
  }

}