#error-body {
  background: $extra-light-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 0 15px;

  #content {
    background: #fff;
    width: 800px;
    padding: 30px;
    border-radius: 15px;

    #logo {
      width: 120px;
    }

    #code {
      text-align: center;
      font-size: 5em;
      color: $midnight;
      font-weight: bold;
      margin: 0 0 15px;
    }

    #title {
      text-align: center;
    }

  }
}