#items-all {

  .table-items {

    th, td {
      padding: 10px 15px;
    }


    .item-row {

      .item-thumbnail {
        width: 75px;
        height: 75px;
        border: 1px solid $grey;

        img {
          width: 100%;
        }
      }

      td {
        vertical-align: middle;

        &.col-thumbnail {
          width: 100px;
          text-align: center;
          padding: 39px 0;

          .item-thumbnail {
            display: inline-block;
          }
        }

        &.col-details {

          .item-sku {
            margin: 0 0 5px 0;
          }

          .item-brand-name {
            margin: 0 0 5px 0;
            font-size: 1.2em;
            .brand {
              font-weight: bold;
              margin: 0 5px 0 0 ;
              &:after {
                content: "-";
                margin: 0 0 0 5px;
              }
            }
          }

          .item-specification {
            display: inline-block;
           overflow: hidden;
          }
        }
      }
    }
  }
}