#items-all {

  @import "items/control";

  .table-items {

    th, td {
      padding: 10px 15px;
    }

    .item-row {

      .item-thumbnail {
        width: 75px;
        height: 75px;
        border: 1px solid $grey;

        img {
          width: 100%;
        }
      }

      td {
        vertical-align: middle;

        &.col-thumbnail {
          width: 100px;
          text-align: center;
          padding: 39px 0;

          .item-thumbnail {
            display: inline-block;
          }
        }

        &.col-details {

          .item-sku {
            margin: 0 0 5px 0;
          }

          .item-brand-name {
            margin: 0 0 5px 0;
            font-size: 1.2em;
            .brand {
              font-weight: bold;
              margin: 0 5px 0 0;
              &:after {
                content: "-";
                margin: 0 0 0 5px;
              }
            }
          }

          .item-specification {
            display: inline-block;
            overflow: hidden;
          }
        }
      }
    }
  }
  
  .item-page-controls {
    display:  flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .per-page-picker {
      flex: 0 1 240px;
      margin: 0 0 15px 0;

      .themed-select {
        width: 100%;
      }
    }

    .api-paginator {
      flex: 0 1 420px;
      display: flex;
      margin: 0 0 15px 0;
    }
  }
}