#items-all {

  @import "items/control";

  .table-items {

    th, td {
      padding: 10px 15px;
    }

    .item-row {

      .item-thumbnail {
        width: 75px;
        height: 75px;
        border: 1px solid $grey;

        img {
          width: 100%;
        }
      }

      td {
        vertical-align: middle;

        &.col-thumbnail {
          width: 100px;
          text-align: center;
          padding: 39px 0;

          .item-thumbnail {
            display: inline-block;
          }
        }

        &.col-details {

          .item-sku {
            margin: 0 0 5px 0;
          }

          .link-item-single {

            &:hover {

              .brand, .name {
                span {
                  color: $blue;
                  border-bottom: 1px solid $blue;
                }
              }
            }

            .brand, .name {
              display: block;
              font-size: 1.2em;
              text-transform: capitalize;
              span {
                border-bottom: 1px dotted $black;
              }
            }

            .name {
              font-weight: bold;
              white-space: nowrap;
              margin: 0 0 5px 0;
            }
          }


          .item-specification {
            display: inline-block;
            overflow: hidden;
          }
        }
      }
    }
  }

}

#item-single {

  .photos {
    margin: 0 0 15px 0;

    .main-image {
      display: flex;
      justify-content: flex-start;
      overflow: hidden;
      height: 340px;
      margin: 0 0 10px 0;

      @media screen and (min-width: 998px) {
        height: 140px;
      }

      @media screen and (min-width: 1222px) {
        height: 190px;
      }

      @media screen and (min-width: 1430px) {
        height: 250px;
      }


      img {
        height: 100%;
      }

      .placeholder {
        text-align: center;
        font-size: 12em;
        color: $grey;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @media screen and (min-width: 998px) {
          font-size: 8em;
        }

        @media screen and (min-width: 1222px) {
          font-size: 12em;
        }
      }
    }

    .image-gallery {
      margin: 0 -10px -10px 0;

      li {
        width: 63px;
        display: inline-block;
        height: 63px;
        margin: 0 10px 10px 0;
        position: relative;

        @media screen and (min-width: 1222px) {
        width: 54px;
        height: 54px;
      }

        @media screen and (min-width: 1430px) {
          width: 73px;
          height: 73px;
        }

        img {
          width: 100%;
        }

        .button-delete-photo {
          display: none;
          position: absolute;
          top: 0;
          right: 0;
          color: #fff;
          padding: 5px 8px;
          background: rgba(245, 152, 152, 0.8);
          font-size: 0.7em;
        }

        &:hover {
          .button-delete-photo {
            display: block;
          }
        }
      }
    }

    .dropzone-errors {
      margin: 10px 0 0 0;
    }

    #item-photo-uploader {
      margin: 10px 0 0 0;
    }
  }

  .details {

    .table {

      th, td {
        padding: 10px;
      }

      th {
        font-weight: normal;
        border-right: 1px solid $grey;
        padding-left: 0;
      }

      tr:first-child {
        th, td {
          border-top: none;
        }
      }

      .projects-list {

      }
    }
  }
}