#add-line-item {

  .filter-urgent {
    margin: 0 0 15px;
    display:  block;
    text-align: right;
  }
  
  .table-purchase-requests {
    border-top: 2px solid #ddd;

    thead {
      th {

        &.active {
          background: #fff;
        }

        &.active.asc:before {
          content: "\f0d8";
          font-family: 'FontAwesome';
        }

        &.active.desc:before {
          content: "\f0d7";
          font-family: 'FontAwesome';
        }
      }
    }
    tbody {
      tr {
        cursor: pointer;

        &.urgent {
          color: $dark-yellow;
        }
      }
    }
  }
}