#system-settings {

  #settings-nav {
    height: 100%;
    border-right: 2px solid $grey;
    margin: 0;
    padding: 15px 0;

    li {
      margin: 10px 0;

      &:first-child {
        margin-top: 0;
      }

      a {
        color: $midnight-mid;
        &.active {
          color: $blue;
        }
        &:hover {
          border-bottom: 1px solid $blue;
        }
      }
    }

  }

  #settings-mobile-nav {
    margin: 0 0 15px;
    display: inline-block;
    width: 100%;

    .bootstrap-select {
      width: 100%;
    }

    button {
      text-transform: capitalize;
      font-size: 1.2em;
    }

    .dropdown-menu.open {
      margin-top: 37px !important;
    }
  }


  #settings-content {
    padding: 15px 0;
  }

  .triggers {
    margin: 0 0 30px;
  }

  @import "settings/company";
  @import "settings/roles";
  @import "settings/billing";
}
