

.staff-status {
  &.active {
    color: $green;
  }
  &.pending {
    color: $orange;
  }
  &.inactive {
    color: $text-muted;
  }
}

#staff-single {

  .role-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 30px;
  }

  .form-change-role {

    .btn-cancel {
      margin: 0 10px 0 0;
    }
  }
}
