.items-control {
  display: flex;
  margin: 0 0 25px 0;
  flex-wrap: wrap;

  .filter, .form-item-search {
    margin: 0 0 10px 0;
  }

  .filter {

    .button-show-filter-dropdown {
       color: $text-muted;
       border: 1px solid $grey;
       border-right: none;
       border-top-left-radius: 4px;
       border-bottom-left-radius: 4px;

       &:hover, &:focus, &:active {
         color: $blue;
       }
     }

    .brands-list, .names-list {
      margin: 0 0 10px 0;
    }

  }

  .form-item-search {
    flex: 1;

    .input-item-search {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;

      &.active {
        border-color: $blue;
      }
    }
  }
}