.stats {
  margin: 0 0 20px;


  .stats-body {
    padding: 30px;
    margin: 15px 0 0 0;
    background: #fff;

    .table {
      margin: 0 0 15px;
      tr {

        &:first-child {
          td {
            border-top: 0;
          }
        }

        &.row-paid {
          color: $blue;
        }

        &.row-accepted {
          color: $green;
        }

        &.row-returned {
          color: $red;
        }

        td {
          padding: 5px 0;
          vertical-align: middle;

          &.number {
            text-align: right;
          }

          h3 {
            margin-bottom: 10px;
          }

          h5 {
            margin-bottom: 0;
          }

          h3,h5 {
            display: inline-block;
          }

         &.col-heading {
           padding: 0 0 0 40px;

           h3 {
             margin: 0 0 0 -40px;
           }
           h5 {
             margin: 0 0 0 -20px;
           }
         }
        }
      }
    }
  }

}