.modal-overlay.single-pr {
  h3 {
    margin: 0 0 10px 0;
    display: flex;
    justify-content: space-between;

    .badge-state {
      font-size: 0.5em;
    }
  }

  h5 {
    margin: 0 0 5px !important;
  }

  .pr {
    .request-info {
      display: flex;
      justify-content: space-between;
      color: $text-muted;
      margin: 0 0 15px 0;

      .requester {
        text-decoration: underline;
      }
    }

    .date, .number {
      font-size: 1.25em;
    }

    .due, .quantity {
      margin: 0 0 15px;
    }
  }

  .item {
    display: flex;
    flex-wrap: wrap;

    h5 {
      flex: 100%;
    }

    .main-photo {
      flex: 0 1 75px;
      margin: 0 10px 0 0;

      .image-item-main {
        img {
          width: 100%;
        }
      }
      .placeholder {
        width: 100%;
        color: $grey;
        display: flex;
        align-items: center;
        font-size: 6em;
      }
    }

    .details {
      flex: 1;
      .sku {
        color: $text-muted;
        font-size: 0.9em;
      }

      .name {
        font-weight: bold;
      }

      .specification {
        margin: 0;
      }

      .item-images {
        margin: 10px 0 0 0;

        .image-gallery {
          margin-bottom: -10px;

          .single-item-image {
            width: 45px;
            margin-bottom: 10px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}