@import "add/item";

.modal-form {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: $z-item-add-modal;

  .main-form {
    background: #fff;
    padding: 30px 45px;
    max-height: 100%;
    overflow: scroll;
    position: relative;

    @media screen and (min-width: 768px) {
      width: 500px;
    }

    @media screen and (min-width: 998px) {
      width: 750px;
    }

    @media screen and (min-width: 1200px) {
      width: 850px;
    }

    .button-hide-modal {
      position: absolute;
      top: 5px;
      right: 5px;
      background: transparent;
      font-size: 2em;
      color: $grey;

      &:focus, &:hover, &:active {
        @include box-shadow(none);
      }
    }
  }
}

