#purchase-orders-submit {

  h5 {
    margin: 0 0 15px;
  }

  .project-selecter {
    margin: 0 0 15px;

    .themed-select {
      button {
        @include border-radius(0);
      }
    }
  }

  .purchase_requests {

    &.inactive {
      position: relative;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.6;
      }
    }

    .pr-controls {
      margin: 0 0 15px;
      .form-pr-search {
        display: block;
        input  {
          @include border-radius(0);
        }
      }
    }

    .pr-controls-bottom {
      .api-paginator {
        ul {
          li {
            min-width: 35px;
          }
        }
      }
    }

    .table-responsive {
      margin: 0 0 15px 0;
      .table-purchase-requests-po-submit {
        border-top: 0;

        .heading-select-all {
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            color: #fff;
          }
        }

        .col-checkbox {
          width: 50px;
          text-align: center;
        }

        .col-number {
          width: 80px;
          text-align: center;
        }

        .col-item {

          .item-brand, .item-name  {
            display: inline-block;
          }

          .bottom {
            display:  block;
            .badge-urgent {
              margin: 0 5px 0 0;
            }
            .quantity {
              display: inline-block;
              label {
                margin: 0;
              }
            }
          }
        }

        .col-due {
          width: 100px;
          text-align: center;
        }
      }
    }
  }

  .line-items {

    .line-items-container {
      .table {
        margin: 0 0 15px 0;

        .col-item {
          position: relative;

          .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.2em;
            display: none;

            &:hover {
              color: $red;
            }
          }
          
          &:hover {
            .btn-close {
              display: block;
            }
          }

          .details {
            font-size: 0.9em;
            color: $text-muted;
            display: flex;
            align-items: center;

            label {
              margin: 0 3px 0 0;
            }

            .project {
              padding-right: 5px;
              margin-right: 5px;
              border-right: 1px solid $grey;
            }

          }
        }
      }
    }

    .line-items-control {
      display: flex;
      justify-content: flex-end;

      .btn {
        display: flex;
        align-items: center;
      }

      .btn-clear {
        margin: 0 10px 0 0;
        i {
          margin: 0 5px 0 0;
          font-size: 1.3em;
        }
      }
      .btn-next {
        flex: 0 0 120px;
        justify-content: space-between;
        i {
          font-size: 1.3em;
        }
      }
    }
  }

  .submit-step {
    animation-duration: 0.15s;
  }

  #po-submit-1 {
  }

  #po-submit-2 {
    animation-delay: 0.15s;
  }
}