#purchase-orders-submit {

  h5 {
    margin: 0 0 15px;
  }

  .project-selecter {
    margin: 0 0 15px;

    .themed-select {
      button {
        @include border-radius(0);
      }
    }
  }

  .purchase_requests {
    .pr-controls {
      .form-pr-search {
        display: block;
        input  {
          @include border-radius(0);
        }
      }
    }

    .pr-controls-bottom {
      .api-paginator {
        ul {
          li {
            min-width: 35px;
          }
        }
      }
    }

    .table-purchase-requests-po-submit {
      border-top: 0;
      margin: 0 0 15px 0;

      .col-checkbox {
        width: 50px;
        text-align: center;
      }

      .col-number {
        width: 80px;
        text-align: center;
      }

      .col-item {

        .item-brand, .item-name  {
          display: inline-block;
        }

        .bottom {
          display:  block;
          .badge-urgent {
            margin: 0 5px 0 0;
          }
          .quantity {
            display: inline-block;
            label {
              margin: 0;
            }
          }
        }
      }

      .col-due {
        width: 100px;
        text-align: center;
      }
    }
  }

  .line-items {

    .list-line-items {

      .list-item-single {

        .count {
          font-size: 1.25em;
          font-weight: bold;
          margin: 0 5px 0 0;
        }

        .item-details {
          margin: 0 0 10px 0;
          padding-top: 5px;

          .brand, .name, .sku {
            display: block;
          }

          .sku {
            font-style: italic;
            color: $text-muted;
            font-size: 0.9em;
          }

          .brand {
            font-weight: bold;
          }
        }

        .quantity, .price {
        }

        .quantity {
          input {
            width: 50px;
          }
        }

        .date-payable, .date-delivery {
        }

        .date-payable {

        }

      }
    }
  }
}