#purchase-orders-all {
  display: block;

  .top {
    margin: 0 0 15px;

    .link-create-order {
      width: 100%;

      @media screen and (min-width: $screen-sm-min) {
        width: initial;
      }

      #button-submit-purchase-order {
        width: 100%;
      }
    }
  }

  .table-purchase-orders-all {
    .col-status {
      text-transform: capitalize;

      .badge {
        width: 80px;
        display: block;
      }
    }
    .col-currency {
      text-align: center;
    }
  }
}