#purchase-orders-all {
  display: block;

  .top {
    margin: 0 0 15px;

    .link-create-order {
      width: 100%;

      @media screen and (min-width: $screen-sm-min) {
        width: initial;
      }

      #button-submit-purchase-order {
        width: 100%;
      }
    }
  }

  .table-purchase-orders-all {
    .col-status {
      text-transform: capitalize;

      span {
        padding: 5px 10px;
        @include border-radius(3px);
        width: 80px;
        display: block;
        text-align: center;
      }

      .approved {
        background: $light-green;
        color: $extra-dark-green;
      }

      .rejected {
        background: $extra-light-red;
        color: $dark-red;
      }

      .pending {
        background: $yellow;
        color: $brown;
      }
    }
    .col-currency {
      text-align: center;
    }
  }
}