#purchase-order-single {

  .approvals {

    margin: 0 0 20px 0;

    .po-badge {
      font-size: 1.5em;
      padding: 15px;
      width: 255px;
      margin: 0 0 15px 0;
    }

    .approval-controls {
      margin: 0 0 10px;

      .btn {
        height: 30px;
        width: 120px;
      }

      .btn-approve {
        margin-right: 15px;
      }
    }

    .attached-rules {
      .rule {

        font-size: 0.9em;
      }
    }

  }

  .order {

    .address {
      margin: 0 0 15px;
    }
  }

  .vendor {

  }

  .line-items {

  }

  .additional-costs {

  }

  .summary {

  }

}