#purchase-order-single {

  .subheading {
    color: $text-muted;
    margin: 0 0 5px;
    display: block;
  }

  .approvals {
    margin: 0 0 20px;
    text-align: right;

    .po-badge {
      font-size: 1.5em;
      padding: 15px;
      width: 255px;
      margin: 0 0 15px 0;
    }

    .po-single-rules {
        .table-rules {
          background: #fff;
          margin: 0;

          tr {
            td {
              vertical-align: middle;
              height: 60px;
            }
          }

          .col-description {
            padding: 0.5em 1em;
            text-align: left;
          }

          .col-approve, .col-reject {
            text-align: center;
            width: 60px;

            .icon-warning {
              color: $grey;
            }

            .fa-check {
              color: $green;
            }

            .fa-close {
              color: $red;
            }
          }

          .col-approve {
            .btn-approve {
              display: none;
            }

            &:hover {
              .btn-approve {
                display: block;
              }
            }
          }

          .col-reject {
            .btn-reject {
              display: none;
            }

            &:hover {
              .btn-reject {
                display: block;
              }
            }
          }

          //.col-status {
          //  text-align: center;
          //  font-size: 1.5em;
          //  width: 60px;
          //
          //  &.rejected {
          //    .btn-approve {
          //      display: none;
          //    }
          //
          //    &:hover {
          //      .icon-close {
          //        display: none;
          //      }
          //
          //      .btn-approve {
          //        display: block;
          //        margin: 0 auto;
          //        color: $green;
          //        background: #fff;
          //        padding: 0;
          //        font-size: 1.5em;
          //      }
          //    }
          //  }
          //
          //}
          //
          //.col-buttons, .col-warning {
          //  width: 90px;
          //}
          //
          //.col-buttons {
          //  padding: 10px;
          //
          //  .btn {
          //    padding: 10px 16px;
          //    height: initial;
          //  }
          //
          //  .btn-approve {
          //    margin-right: 10px;
          //  }
          //
          //}
          //
          //
          //.col-warning {
          //  text-align: center;
          //  color: $text-muted;
          //  padding: 10px 16px;
          //}
        }
    }

  }

  .meta {
    margin: 0 0 15px 0;
    text-align: right;

    .po-number, .submitted-date, .by-user {
      display: block;
    }
  }

  .vendor {
    border: 1px solid $grey;
    padding: 15px;
    margin: 0 0 30px;

    .name {
      font-weight: bold;
    }

    .address {
      margin: 0 0 15px;
    }

  }

  .order {
    margin: 0 0 30px;

    .billing-address {
      margin: 0 0 15px;
    }
  }


  .line-items {
    margin: 0 0 30px;

    .table-view-select {
      text-align: right;

      .active {
        border-bottom: 1px solid $blue;
        color: $blue;
      }

      .requests, .items {
        display: inline-block;
      }

      .requests {
        border-right: 1px solid $border-dark;
        padding-right: 8px;
        margin-right: 5px;
      }
    }


    .item-brand-name {
      display: block;
      margin: 0 0 5px;
    }

    .col-details {
      min-width: 300px;
    }

    .col-payable, .col-delivery, .col-quantity, .col-price, .col-total {
      text-align: center;
    }

    @media screen and (min-width: $screen-lg-min) {
      .col-quantity, .col-price, .col-total {
        min-width: 100px;
      }
    }


    .po-single-request-table {

      .btn-mark-paid, .btn-mark-received {
        display: block;
        width: 100px;
        margin: 5px auto 0 auto;
      }

      .col-payable {
        .paid, .unpaid {
          display: block;
        }

        .paid {
          color: $blue;
        }

        .unpaid {
          color: $text-muted;
        }
      }

      .col-delivery {

        .mark-received-popup {
          position: relative;

          &:hover, &:focus, &:active {
            .popup-container {
              display: block;
            }
          }

          .popup-container {
            display: none;
            position: absolute;
            left: calc(100% - 5px);
            top: calc(-50% - 20px);
            padding-left: 20px;

            &:hover {
              display: block;
            }

            .popup-bg {
              background: #fff;
              display: flex;
              flex-direction: column;
              padding: 10px;
              border: 1px solid $border-light;
              @include box-shadow(2px 1px 3px rgba(0, 0, 0, 0.3));
              @include border-radius(3px);

              .btn-accept {
                margin: 0 0 10px;
              }
            }
          }
        }

        .accepted, .returned {
          display: block;
        }

        .accepted {
          color: $green;
        }

        .returned {
          color: $red;
        }
      }
    }

    table {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }

  .summary {
    .table-summary {
      font-size: 1.2em;

      tr {
        td {
          border: 0;
          padding: 5px;
        }
      }

      .col-currency {
        text-align: center;
      }

      .col-amount {
        text-align: right;
      }

      .row-title, .row-total {
        td {
          padding: 10px 5px;
          border-top: 1px solid #A1A4AA;
          font-weight: bold;
          font-size: 1.6em;
        }
      }
    }
  }

}