#purchase-order-single {

  .subheading {
    color: $text-muted;
    margin: 0 0 5px;
    display: block;
  }

  .approvals {
    margin: 0 0 20px;
    text-align: right;

    .po-badge {
      font-size: 1.5em;
      padding: 15px;
      width: 255px;
      margin: 0 0 15px 0;
    }

    .po-single-rules {
        .table-rules {
          background: #fff;
          margin: 0;

          tr {
            td {
              height: 45px;
              vertical-align: middle;
            }
          }

          .col-description {
            padding: 0.5em 1em;
            text-align: left;
          }

          .col-status {
            text-align: center;
          }

          .col-buttons, .col-warning {
            width: 90px;
          }

          .col-buttons {
            padding: 0;

            .btn {
              padding: 10px 16px;
              height: initial;
            }
          }

          .col-warning {
            text-align: center;
            color: $text-muted;
            padding: 10px 16px;
          }
        }
    }

  }

  .meta {
    margin: 0 0 15px 0;
    text-align: right;

    .po-number, .submitted-date, .by-user {
      display: block;
    }
  }

  .vendor {
    border: 1px solid $grey;
    padding: 15px;
    margin: 0 0 30px;

    .name {
      font-weight: bold;
    }

    .address {
      margin: 0 0 15px;
    }

  }

  .order {
    margin: 0 0 30px;

    .billing-address {
      margin: 0 0 15px;
    }
  }


  .line-items {
    margin: 0 0 30px;

    .table-view-select {
      text-align: right;

      .active {
        border-bottom: 1px solid $blue;
        color: $blue;
      }

      .requests, .items {
        display: inline-block;
      }

      .requests {
        border-right: 1px solid $border-dark;
        padding-right: 8px;
        margin-right: 5px;
      }
    }


    .item-brand-name {
      display: block;
      margin: 0 0 5px;
    }

    .col-details {
      min-width: 300px;
    }

    .col-payable, .col-delivery, .col-quantity, .col-price, .col-total {
      text-align: center;
    }

    @media screen and (min-width: $screen-lg-min) {
      .col-quantity, .col-price, .col-total {
        min-width: 100px;
      }
    }


    .po-single-request-table {

      .btn-mark-paid, .btn-mark-received {
        display: block;
        width: 100px;
        margin: 5px auto 0 auto;
      }
    }

    table {
      tr {
        td {
          vertical-align: middle;
        }
      }
    }
  }

  .summary {
    .table-summary {
      font-size: 1.2em;

      tr {
        td {
          border: 0;
          padding: 5px;
        }
      }

      .col-currency {
        text-align: center;
      }

      .col-amount {
        text-align: right;
      }

      .row-title, .row-total {
        td {
          padding: 10px 5px;
          border-top: 1px solid #A1A4AA;
          font-weight: bold;
          font-size: 1.6em;
        }
      }
    }
  }

}