#project-single-view {

  .project-header {


    .project-status {
      margin: 0;

      &.active {
        color: $green;
      }

      &.inactive {
        color: $text-muted;
      }
    }
  }

  .team-wrap {
    margin-bottom: 30px;
  }

  .team-members {

    .team-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0 0 15px 0;

      h5 {
        margin: 0;
      }
    }

    .table-team {

      .table {

        tbody {

          tr {

            td {

              &:nth-child(2) {
                text-transform: capitalize;
              }

              &:nth-child(3) {
                text-transform: lowercase;
              }
            }
          }
        }
      }
    }

  }
}