#purchase-requests-all {

  .top {
    margin: 0 0 15px 0;

    .link-make-pr {
      width: 100%;

      #button-make-purchase-request {
        width: 100%;
      }

      @media screen and (min-width: 998px) {
        width: initial;
      }
    }
  }

  .pr-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;

    .control-urgent {
      input {
        margin: 0 5px 0 0;
      }

      label {
        margin: 0;

        &.urgent-only {
          color: $orange;
        }
      }
    }
    .pr-filters {
      display: flex;
      justify-content: flex-end;
      position: relative;

      .button-show-filter-dropdown {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .current-filter {
          margin: 0 0 0 3px;
          font-weight: bold;
        }
        i {
          font-size: 0.8em;
          margin: 0 0 0 3px;
        }
      }

      .dropdown-filters {

        .dropdown-title {
          font-size: 0.8em;
          text-transform: uppercase;
          padding: 0 1em;
          height: 30px;
          display: flex;
          align-items: center;
          color: $text-muted;
        }

        ul {
          margin: 0;

          .pr-dropdown-item {
            height: 30px;
            padding: 0 1em 0 1.5em;
            text-align: left;
            cursor: pointer;
            display: flex;
            align-items: center;
            &:hover {
              background: $blue;
              color: #fff;
            }
          }
        }
      }
    }
  }

  .page-controls {
    margin: 0 0 -15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .pr-items-per-page-selecter {
      flex: 0 1 240px;
      margin: 0 0 15px 0;

      .themed-select {
        width: 100%;
      }
    }

    .pr-paginate {
      flex: 0 1 420px;
      margin: 0 0 15px 0;
    }

  }

  .pr-bag {
    margin: 15px 0;

    @media screen and (min-width: 998px) {
      margin: 30px 0;
    }

    .table-purchase-requests-all {
      margin: 0;

      .col-quantity {
        text-align: center;
      }

      .col-item {
        max-width: 475px;

        .item-name {
          font-weight: bold;
          display: block;
          text-transform: capitalize;
        }
      }
    }
  }

  .page-controls-bottom {
    .pr-paginate {
      margin: 0;
    }
  }
}