#purchase-requests-all {

  .top {
    margin: 0 0 15px 0;

    .link-make-pr {
      width: 100%;

      #button-make-purchase-request {
        width: 100%;
      }

      @media screen and (min-width: $screen-sm-min) {
        width: initial;
      }
    }
  }

  .pr-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 15px 0;
    flex-wrap: wrap;

    .controls-right {
      display: flex;
      justify-content: center;
      align-items: center;

      .control-urgent {
        input {
          margin: 0 5px 0 0;
        }

        label {
          margin: 0;
        }
      }
    }

    .active-filters {
      margin-top: 10px;
      flex: 100%;
    }
  }

  .pr-bag {
    margin: 15px 0;

    @media screen and (min-width: $screen-sm-min) {
      margin: 30px 0;
    }
  }

  .page-controls-bottom {
    .pr-paginate {
      margin: 0;
    }
  }
}

