#purchase-request-single {

  h1 {
    margin: 0 0 10px;
  }

  .top-control {
    margin: 0 0 30px;
  }

  .state-control {
    margin: 15px 0 0 0;
    text-align: center;

    .cancel-pr {

      .confirm-cancel {
        text-align: center;
        margin-bottom: -10px;

        p {
          text-align: center;
          margin: 0 0 10px;
          color: $text-muted;
        }

        .btn-return {
          margin: 0 10px 0 0;
        }

        .btn {
          margin-bottom: 10px;
        }
      }
    }
  }

  .item {

    .top {
      display: flex;
      margin: 0 0 10px;

      .main-photo {
        flex: 0 0 75px;
        margin: 0 15px 0 0;

        .image-item-main {

          img {
            width: 100%;
          }
        }
        .placeholder {

          width: 100%;
          color: $grey;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 3em;
        }
      }

      .details-item {
        flex: 1;
      }
    }

    .specification {
      margin: 0 0 15px;
    }

    .item-images {

      .image-gallery {
        margin: 0 0 -10px;

        .single-item-image {
          width: 45px;
          margin: 0 0 10px 0;

          img {
            width: 100%;
          }
        }
      }
    }
  }

  .request {

    .requested-info {
      color: $text-muted;
      display: flex;
      justify-content: space-between;
      margin: 0 0 15px;
    }

    .required {
      margin: 0 0 15px;
      .due {
        display: block;
        font-weight: bold;
        font-size: 1.2em;
        margin: 5px 0;
      }
    }

    .quantities {

      .table-quantities {

        tr {

          td, th {
            border: 0;
            padding: 5px 0;
          }

          th {
            font-weight: normal;
            padding-left: 10px;
          }

          td {
            text-align: right;
            padding-right: 10px;
          }

          &:last-child {
            td, th {
              border-top: 1px solid $border-light;
              border-bottom: 1px solid $border-light;
            }
          }
        }
      }
    }

  }

  .project {

    .name {
      margin: 0 0 5px;
      text-transform: capitalize;
      font-size: 1.4em;
    }

    .location {
      display: block;
    }

    .started {
      margin: 0 0 15px;
    }

    .team {
      margin: 0 0 15px;
    }

    .purchase-requests {

      table {
        tr {

          &:first-child {
            td {
              border-top: 0;
            }
          }

          &.open {
            color: $dark-green;
          }

          &.cancelled {
            color: $dark-red;
          }

          td {
            padding: 5px 0;
          }
        }
      }
    }

  }
}