#purchase-request-single {

  .card-item {

    .thumbnail-item {
      .placeholder {

        width: 100%;
        color: $grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3em;
      }
    }
  }

}