.btn-outline {
  background: transparent;
  display: inline-block;
  border: 0;

  @include transition(all 0.15s ease-out);
}

.btn-outline-yellow,
.btn-outline-red,
.btn-outline-green,
.btn-outline-blue {

  &:disabled {
    color: $dark-grey;
    @include box-shadow(inset 0px 0px 0px 1px $dark-grey);
    &:hover, &:active, &:focus {
      color: $dark-grey;
      @include box-shadow(inset 0px 0px 0px 1px $dark-grey);
    }
  }
}

@mixin btn-outline-colors($color, $hover-color, $box-shadow, $background) {
  color: $color;
  @include box-shadow(inset 0px 0px 0px 1px $box-shadow);

  &:hover, &:focus, &:active {
    @include box-shadow(inset 0px 0px 0px 1px $box-shadow);
    color: $hover-color;
    background: $background;
  }
}

.btn-outline-green {
  @extend .btn-outline;
  @include btn-outline-colors($green, $dark-green, $dark-green, $extra-light-green);
}

.btn-outline-yellow {
  @extend .btn-outline;
  @include btn-outline-colors($dark-yellow, $dark-yellow, $dark-yellow, $extra-light-yellow);
}

.btn-outline-red {
  @extend .btn-outline;
  @include btn-outline-colors($dark-red, $dark-red, $dark-red, $extra-light-red);
}

.btn-outline-blue {
  @extend .btn-outline;
  @include btn-outline-colors($blue, $dark-blue, $dark-blue, $extra-light-blue);
}

.btn-outline-grey {
  @extend .btn-outline;
  @include btn-outline-colors($dark-grey, $dark-grey, $dark-grey, $extra-light-grey);
}