.btn-outline {
  background: transparent;
  display: inline-block;

  @include transition(all 0.15s ease-out);
}

.btn-outline-yellow,
.btn-outline-red,
.btn-outline-green,
.btn-outline-blue {

  &:disabled {
    color: $dark-grey;
    border-color: $dark-grey;
    &:hover, &:active, &:focus {
      color: $dark-grey;
      border-color: $dark-grey;
    }
  }
}

.btn-outline-green {
  @extend .btn-outline;
  color: $dark-green;
  border: 1px solid $dark-green;

  &:hover, &:focus, &:active {
    color: $dark-green;
    background: $extra-light-green;
  }
}

.btn-outline-yellow {
  @extend .btn-outline;
  color: $dark-yellow;
  border: 1px solid $dark-yellow;

  &:hover, &:focus, &:active {
    color: $extra-light-yellow;

  }
}

.btn-outline-red {
  @extend .btn-outline;
  color: $dark-red;
  border: 1px solid $dark-red;

  &:hover, &:focus, &:active {
    color: $dark-red;
    background: $extra-light-red;
  }
}

.btn-outline-blue {
  @extend .btn-outline;
  color: $dark-blue;
  border: 1px solid $dark-blue;

  &:hover, &:focus, &:active {
    color: $blue;
    background: $extra-light-blue;
  }
}

.btn-outline-grey {
  @extend .btn-outline;
  color: $dark-grey;
  border: 1px solid $dark-grey;

  &:hover, &:focus, &:active {
    background: $extra-light-grey;
  }
}