@import "mixins";
@import "partials/variables";
@import "resources/assets/bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/bootstrap-ms";
@import "partials/layout";
@import "partials/buttons";
@import "partials/navbar";
@import "partials/inputs";
@import "partials/select";
@import "partials/auth/register/popup";
@import "pages/dashboard";
@import "pages/projects";
@import "pages/invitation";
@import "pages/purchase-requests";
@import "pages/purchase-orders";
@import "pages/vendors";
@import "pages/staff";
@import "partials/toastr";
@import "partials/fileinput";
@import "partials/photogallery";
@import "pages/items";
@import "pages/settings";
@import "partials/animations";
@import "partials/tabs";
@import "partials/side-menu";
@import "partials/forms/validation";
@import "partials/tables";
@import "partials/badges";
@import "partials/modals";
@import "partials/dropzone";
@import "partials/text-clipper";
@import "partials/dropdowns";
@import "partials/paginator";
@import "partials/filters";
@import "partials/headers";
@import "partials/tooltips";
@import "partials/datepicker";
@import "partials/addresses";
@import "partials/bank_accounts";
@import "partials/popover";
@import "pages/reports";
@import "partials/notes";
@import "partials/activities";
@import "partials/cards";
@import "pages/user/profile";
@import "partials/profile/photos";

body {
  font-family: $proxima;
  color: $faded-midnight;
  background: $body-background;
}

.part {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
}

.fa-btn {
  margin-right: 6px;
}

.back-link {
  display: inline-block;
  color: $text-muted;
  padding-bottom: 1px;

  &:hover {
    border-bottom: 1px dotted #777777;
    padding-bottom: 0px;
  }

  &:visited {
    color: $text-muted;
  }

}

.title-with-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 30px;
  flex-wrap: wrap;

  > h1, > h2, > h3, > h4 {
    margin: 0;
  }
}

.page-title {
  font-weight: bold;
  font-size: 26px;
  text-transform: uppercase;
  margin: 0;
  color: $dark-grey;
}

.page-intro {
  margin: 10px 0 0 0;
  color: $dark-grey;
}

section {
  clear: both;
  display: inline-block;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
  margin: 0 0 30px 0;

  &:not(:last-child) {
    border-bottom: 2px solid $border-light;
  }
}

.align-end {
  display: flex;
  justify-content: flex-end;
}

.livicon-evo {
  display: inline-block;
}

a {
  cursor: pointer;
  color: $faded-blue;
  font-size: 1.2em;

  &:hover, &:focus, &:active {
    outline: 0;
    color: $blue;
    text-decoration: none;
  }

  //&.dotted {
  //  border-bottom: 1px dotted $black;
  //
  //  &:hover {
  //    color: $blue;
  //    border-bottom: 1px solid $blue;
  //  }
  //}
  //
  //&.underline {
  //  border-bottom: 1px solid $black;
  //
  //  &:hover {
  //    color: $blue;
  //    border-bottom: 1px solid $blue;
  //  }
  //}
}

.icon-tick {
  color: $green;
}

.icon-close {
  color: $red;
}

h1 {
  font-family: futura-pt;
  font-size: 2.5em;
  font-weight: $font-light;
  line-height: 1.3em;
  color: $midnight;
  margin: 0 0 30px;
}

h2 {
  font-family: futura-pt;
  font-size: 1.7em;
  font-weight: $font-light;
  line-height: 1.25em;
  color: $midnight;
  margin: 0 0 18px;
}

h3 {
  font-family: proxima-nova, Helvetica, sans-serif;
  font-weight: $font-bold;
  color: $midnight;
  line-height: 1.28em;
  font-size: 0.9em;
  margin: 0 0 12px;
}

h4 {
  font-family: proxima-nova, Helvetica, sans-serif;
  font-weight: $font-bold;
  font-size: 0.85em;
  line-height: 1.1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $faded-midnight;
  margin: 0 0 12px;
}

h5 {
  font-size: 1.1em;
  font-weight: bold;
  display: flex;
  align-items: center;

  small {
    margin-left: 5px;
  }

  // TODO ::: Find out if this is ok or does it mess up headings?
}

h1, h2, h3, h4, h5 {
  &.required {
    display: flex;
    &:after {
      font-size: 0.75em;
      font-weight: normal;
      content: "(required)";
      margin-left: 5px;
      color: $text-muted;
      font-style: italic;
    }
  }
}

p, a {
  font-family: $proxima;
  font-weight: $font-regular;
}

p {
  font-size: 1.2em;
  margin: 0 0 30px;

  &.text-muted {
    margin: 0 0 10px;
  }
}

ul {
  margin: 0 0 30px;
}

.no-margin {
  margin: 0;
}

.standard-box {
  @include box-shadow($standard-box-shadow);
  @include border-radius($standard-border-radius);
  border: $standard-border;
}

textarea {
  resize: none;
}

.clickable {
  cursor: pointer;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */

  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;

  p, span, label, h1, h2, h3, h4, h5 {
    cursor: pointer;
  }
}

.filter-urgent {

  &.active {
    font-weight: bold;
    color: $dark-yellow !important;
  }
}

.table-filters {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h5 {
    flex: 100%;
  }

  a {
    color: $text-muted;
    &.active {
      font-weight: bold;
      color: #000;
    }
  }
}

table {
  thead {
    th {
      white-space: nowrap;
    }
  }

  tbody {
    td.icon {
      text-align: center;
    }
  }
}

.table-sort {
  border-top: 2px solid #ddd;

  thead {
    th {
      &.active {
        background-color: #fff !important;
      }

      &.active.asc:before {
        content: "\f0d8";
        font-family: 'FontAwesome';
        margin-right: 5px;
      }

      &.active.desc:before {
        content: "\f0d7";
        font-family: 'FontAwesome';
        margin-right: 5px;
      }
    }
  }
  tbody {
    tr {
      cursor: pointer;

      &.urgent {
        color: $dark-yellow;
      }
    }
  }
}

li.active {
  font-weight: bold;
}

@media print {
  .no-print, .no-print * {
    display: none !important;
  }
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.page-error {
  color: $dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 150px 100px;
  font-size: 30px;
  font-weight: normal;
  text-align: center;

  @media screen and (max-width: $screen-md-max) {
    padding: 100px 75px;
    font-size: 26px;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding: 75px 15px;
    font-size: 20px;
  }
}

.capitalize {
  text-transform: capitalize;
}




// Hide FOUC
[v-cloak] {
  display: none !important;
}

.empty-stage {
  padding: 50px 0;
  display: flex;
  align-items: center;
  flex-direction: column;

  i {
    font-size: 5em;
    color: $midnight-light;
    margin: 0 0 15px 0;
  }

  h3 {
    margin: 0 0 10px 0;
    text-align: center;
  }

  p {
    color: $text-muted;
    text-align: center;
  }

  a {
    font-size: 1em;
  }
}

.no-wrap {
  white-space: nowrap;
}

.bg-blur {
  @include filter(blur(7px) grayscale(0.6) opacity(0.9));
}

