@import "partials/variables";
@import "resources/assets/bower/bootstrap-sass/assets/stylesheets/bootstrap";
@import "partials/layout";
@import "pages/dashboard";
@import "pages/projects";
@import "pages/invitation";
@import "pages/purchase-requests";

body {
  font-family: 'helvetica';
}

.fa-btn {
  margin-right: 6px;
}

.page-title {
  margin: 0 0 15px;
  font-size: 30px;
}

a {
  color: initial;
  &:hover {
    color: initial;
    text-decoration: none;
  }

  &:active, &:visited, &:active, &:focus {
    color: initial;
    text-decoration: none;
  }
  
  &.link-underline {
    &:hover {
      border-bottom: 1px dotted #000;
    }
  }
}

h5 {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 15px;
}

p {
  margin: 0 0 15px;
}

label {
  font-size: 14px;
  font-weight: normal;
  color: $grey;
  margin: 0 0 10px 0;
}

textarea {
  resize: none;
}