.table-purchase-requests-all, .table-purchase-requests-po-submit {
  margin: 0;

  .col-project {
    text-transform: capitalize;
  }

  .col-quantity {
    text-align: center;
  }

  .col-item {

    .item-sku {
      font-style: italic;
      color: $text-muted;
      text-transform: uppercase;
    }
    

    .item-image-gallery {
      margin-bottom: -5px;
      display: flex;
      overflow: scroll;

      li {
        flex: 0 0 45px;
        margin: 0 0 10px;
        img {
          width: 100%;
        }
      }
    }

    .item-specification {
      margin: 5px 0 0 0;
      display: block;
    }

  }

  .col-state {
    .badge {
      width: 80px;
    }
  }
}