.guest-nav {
  z-index: 8;
  background: #ffffff!important;
  border: 0!important;
  margin: 0;

  .container {
    display: flex;
    height: 50px;

    .navbar-toggle {
      flex: 0 0 44px;
      border: 0;

      span  {
        background-color: $grey;
      }

      &:hover, &:focus, &:active {
        background: initial;

        span  {
          background-color: $dark-grey;
        }
      }
    }

    .navbar-logo {
      flex: 1;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      img {
        width: 175px;
      }
    }

    .navbar-dropdown {
      list-style: none;
      margin: 0;
      position: absolute;
      top: 50px;
      background: #fff;
      width: 100%;
      left: 0;
      border-top: 1px solid #CDCFD2;
      padding: 10px 0;
      @include box-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
      @include animation-duration(0.15s);

      li {
        padding: 10px 15px;

        a {
          color: $dark-grey;
          padding: 0;

          &:hover {
            color: $black;
          }

          &.nav-register {
            &:hover {
              color: $green;
            }
          }
        }
      }
    }

    .navbar-right {
      flex: 0 0 100px;
      margin: 0;
      display: none;
      align-items: center;
    }

    @media screen and (min-width: $screen-sm-min) {
      justify-content: space-between;

      .navbar-logo {
        flex: 300px;
        justify-content: center;
      }

      .navbar-right {
        display: flex;
      }

      .navbar-dropdown {
        position: relative;
        top: 0;
        border: 0;
        padding: 0 15px;
        box-shadow: none;
        flex: 1000px;
        display: flex!important;
        align-items: center;
        justify-content: flex-end;
      }

      &:before, &:after {
        display: none;
      }
    }
  }
}