.item-details {

  .quick-actions {
    margin: 0 0 15px;
  }

  .table-items {

    .col-item {

      .dates {
        font-size: 0.9em;

        .payable, .delivery {
          margin: 3px 0 0 0;

          .date-type {
            color: $text-muted;
          }

          .ui-datepicker-trigger {
            width: 14px;
            margin: -3px 3px 0 0;
          }
        }
      }
    }

    .input-qty, .input-price {
      text-align: center;
      padding: 0.5em;
    }

    .col-quantity {
      .input-qty {
        width: 65px;
        display: inline-block;
      }

      .total-quantity {
        margin-left: 8px;
        color: $text-muted;
        font-size: 1.5em;
      }
    }

    .input-price {
      width: 120px;
    }
  }
}