#settings-rules {
  .new-rule {
    margin: 0 0 30px;

    .rule-generator {
      th {
        width: 150px;
        vertical-align: middle;
        text-align: right;
      }
    }
  }

  .table-existing-rules {
    th, td {
      vertical-align: middle;
      width: 25%;
    }

    td {
      position: relative;
      ul {
        margin: 0;
      }
    }

    tr {

      .button-remove {
        display: none;
        color: $light-red;
        font-size: 1.3em;
      }

      &:hover {
        .button-remove {
          position: absolute;
          top: 5px;
          right: 5px;
          display: block;
        }
      }
    }

  }


  #settings-rule-modal {

    .description {
      margin: 0 0 15px;
    }

    h4 {
      margin: 0 0 10px;
    }

    .list-roles {
      margin: 0 0 15px;
      padding: 0 0 0 10px;
      border-left: 2px solid $blue;
    }

    .confirm-delete {
      button {
        margin: 0 0 15px;

        &:first-child {
          margin-right: 10px;
        }
      }
    }

  }
}