.item-details {

  .table-items {

    .input-qty, .input-price, .input-date-payable, .input-date-delivery {
      text-align: center;
      padding: 0.5em;
    }

    .input-qty {
      width: 80px;
    }

    .input-price {
      width: 120px;
    }

    .input-date-payable, .input-date-delivery {
      width: 200px;   // Any smaller and datepicker bugs-out @ small widths
    }
  }
}