.order-details {

  .section {
    margin: 0 0 15px 0;
  }

  .shipping-address {
    .check-same-billing {
      margin: 0 0 10px 0;

      label {
        width: auto;
        display: flex;
        align-items: center;

        i {
          width: 20px;
          margin: 0 5px 0 0;
        }
      }
    }
  }
}