
// Our parent btn class
.btn {
  background: transparent;

  &:focus, :active, :hover {
    outline: 0 !important;
    @include box-shadow(none);
  }
  @include border-radius(0);
}

@import "buttons/outline";
@import "buttons/solid";

.btn-full {
  width: 100%;
}

.btn-small {
  height: 2em;
  padding: 0 1em;
}


.btn-remove {
  font-size: 18px;
  font-weight: bold;
  color: $dark-grey;
  margin-left: 5px;
  float: right;
  line-height: 15px;

  &:hover {
    color: $red;
  }
}


.button-dotted {
  color: $text-muted;
  border-bottom: 1px dotted $text-muted;

  &:hover, &:active, &:focus {
    color: $blue;
    border-bottom: 1px solid $blue;
    @include box-shadow(none);
  }

  &.btn {
    background: transparent;
    padding: 0;
    line-height: 1;
    @include border-radius(0);
  }
}
