.active-filters {
  flex: 100%;

  .button-remove-filter {

    margin: 5px 10px 5px 0;
    padding: 0;

    &:not(:last-child) {
      padding: 0 10px 0 0;
      border-right: 1px solid $grey;
    }

    &:hover {
      color: $red;
      text-decoration: line-through;

      .field {
        color: $red;
      }
    }

    .field {
      color: $text-muted;
    }
  }
}