
.filters {
  .filter-button-toggle-dropdown {
    color: $text-muted;
    border: 1px solid $grey;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    line-height: 1;
    width: 80px;
    height: 34px;
    padding: 0.5em;

    &:hover, &:focus, &:active {
      color: $blue;
    }
  }

  &.with-search {
    .filter-button-toggle-dropdown {
      border-right: none;
      border-bottom-right-radius: 0;
      border-top-right-radius: 0;
    }
  }
}

.controls-filter-search {
  display: flex;
}

.form-search {
  flex: 1;
  .input-search {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

    &.active {
      border-color: $blue;
    }
  }
}

.active-filters {
  flex: 100%;

  .button-remove-filter {
    position: relative;
    margin: 10px 30px 0 0;
    padding: 0;
    border-bottom: 1px dotted $black;

    &:after {
      content: "\f00d";
      font-family: FontAwesome;
      opacity: 0.4;
      position: absolute;
      font-size: 0.75em;
      margin-left: 5px;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }

    .field {
      //color: $text-muted;
    }
  }
}