.navbar {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-bottom: 0;
  margin: 0;

  .navbar-header {
    height: 60px;
    display: flex;
    align-items: center;
    .navbar-brand {
      padding: 0 15px;
      height: 60px;
      display: flex;

      .nav-logo {
        width: 20px;
        margin-right: 10px;
      }

      .navbar-name {
        display: flex;
        align-items: center;
        font-weight: bold;
        color: #000;
        text-transform: Uppercase;

      }
    }

    @media screen and (max-width: $screen-sm-max) {
      display: block;
      button {
        margin: 8px 15px;
      }
    }
  }

  li {
    a {
      padding: 20px 15px;
    }
  }

  .dropdown-menu {
    li {
      a {
        padding: 10px 15px;
      }
    }
  }

  @media screen and (max-width: $screen-sm-max) {
    li {
      a {
        padding: 10px 15px;
      }
    }

    .navbar-header {
      button {
        margin: 13px 15px;
      }
    }
  }

}


#main-stage {
  display: flex;
  height: calc(100vh - #{$topbar-height});
  overflow-x: hidden;

  #side-menu {
    flex: 0 0 $side-menu-width;
    overflow-y: scroll;
    min-height: 500px;
  }

  #body-content {
    // flex: 1 0 300px; (layout w/ side-menu was a bit small)
    flex: 1 0 400px;
    overflow-y: scroll;
    min-height: 500px;
    padding: 10px 0;

    &.full-page {
      padding: 0!important;
    }

    @media screen and (min-width: $screen-sm-min) {
      padding: 25px 35px;
    }

    // Remove if flex layout broken -----
    display: flex;
    flex-direction: column;
    // ----------------------
  }
}

// Remove if flex layout broken --------------------------------------
.container {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: $screen-sm-min) {
  .container {
    width: 100%!important;
  }
}

@media screen and (min-width: $screen-md-min) {
  .container {
    width: 100%!important;
  }
}

@media screen and (min-width: $screen-lg-min) {
  .container {
    width: 100%!important;
  }
}
// ------------------------------------------------------

.page-body {
  background: #FFFFFF;
  padding: 15px;
  @include border-radius(3px);
  @include box-shadow( 0 2px 4px rgba(0, 0, 0, 0.1));

  @media screen and (min-width: $screen-sm-min) {
    padding: 30px;
  }
}

.card-no-bg {
  padding: 15px;
  @media screen and (min-width: $screen-sm-min) {
    padding: 30px;
  }
}

.row {
  .page-body {
    margin: 0 0 20px;
  }
}

// Remove if flex layout broken --------------------------------------
.row {
  &.flexing {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;

    & > [class*='col-'] {
      display: flex;
      flex-direction: column;

      .page-body {
        flex: 100%;
      }

      @media screen and (max-width: $screen-sm-max) {
        width: 100%;
      }
    }
  }
}
// ------------------------------------------------------

