.bootstrap-select.themed-select {

  // Button Base Style
  button {
    border-radius: 3px;
    background: transparent;
    color: $text-muted;
    border: 1px solid $grey;

    .filter-option {
      color: #000;
    }

    .bs-caret {
      color: $grey;

      .caret {
        right: 17px;
        border-top: 5px dashed;
        border-bottom: none;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
      }
    }
  }

  // Button state styles
  button:hover, button:active, button:focus, .btn-group.open .dropdown-toggle, &.open > .btn-default.dropdown-toggle, .dropdown-toggle:focus {
    background-color: transparent;
    border-color: $blue !important;
    color: $blue !important;
    @include box-shadow(none !important);
    outline: 0 !important;
  }

  // Dropdown Menu styles
  &.open {

    button, .dropdown-toggle {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-menu {
      padding: 0;
      border: 1px solid $blue;
      border-top: 0;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      @include box-shadow(none !important);

      li {

        a {
          outline: 0;
          height: 34px;
          padding: 0 20px;
          display: flex;
          align-items: center;

          &:hover, &:focus {
            background: $blue;
            color: #fff;
          }

          &:active {
            background: #fff;
            color: $blue;
          }
        }

        &.selected {
          a {
            background: #fff;
            color: $blue;
          }
        }
      }
    }

    &.dropup {

      button {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        .caret {
          border-top: none;
          border-bottom: 5px dashed;
        }
      }

      div.dropdown-menu {
        border-bottom: 0;
        border-top: 1px solid $blue;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

  }

}

.selectize-control {

  &:before {
    top: calc(50% - 14px);
    right: 35px;
    z-indeX: 2;
    opacity: 0;
    position: absolute;
    display: block;
    color: $text-muted;
    content: "\f1ce";
    font-family: FontAwesome;
    @include animation(spin 2s linear infinite);
    @include transition(opacity 0.2s);
  }

  &.loading {
    &:before {
      opacity: 0.6;
    }
  }

  .create {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .selectize-input {
    @include border-radius(3px);

    &.focus {
      border-color: $blue !important;
    }
  }

  .selectize-input {
    border: 1px solid $grey !important;
    @include box-shadow(none !important);

    &:hover, &:focus, &:active {
      border-color: $blue !important;
      outline: 0 !important;
    }

    &.dropdown-active {
      border-color: $blue !important;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      border-bottom: 1px solid $grey !important;

      &:after {
        border-color: transparent transparent $grey !important;
      }
    }

    &:after {
      border-color: $grey transparent transparent transparent !important;
    }

  }

  .selectize-dropdown {
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    margin: 0;
    @include box-shadow(none !important);
    border-color: $blue !important;

    .selectize-dropdown-content {
      padding: 0;

      div {
        min-height: 30px;
        display: flex;
        align-items: center;

        &.selected {
          background: #fff;
          color: $blue;
        }

        &.active {
          background: $blue;
          color: #fff;
        }


        &:last-child {
          border-bottom-right-radius: 3px;
          border-bottom-left-radius: 3px;
        }
      }

      .create {
        strong {
          margin-left: 5px;
        }
        &.active {
          background: #fff;
          color: $blue !important;
        }
      }
    }
  }

}

.shift-select {

  .selectize-control {
    .selectize-input {
      border: 1px solid #E0E0E0 !important;
      @include border-radius(0 !important);
      height: 3.5em;
      display: flex !important;
      align-items: center;

      &:hover:not(.disabled), &:focus:not(.disabled), &:active:not(.disabled) {
        border-color: $blue !important;
        outline: 0 !important;
      }

      &.dropdown-active {
        border-color: $blue !important;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom: 1px solid $grey !important;

        &:after {
          border-color: transparent transparent $grey !important;
        }
      }

      ::-webkit-input-placeholder {
        text-transform: uppercase;
        color: $text-muted;
        font-size: 0.8em;
      }
      ::-moz-placeholder          {
        text-transform: uppercase;
        color: $text-muted;
        font-size: 0.8em;
      } /* Firefox 19+ */
      :-moz-placeholder           {
        text-transform: uppercase;
        color: $text-muted;
        font-size: 0.8em;
      } /* Firefox 18- */
      :-ms-input-placeholder      {
        text-transform: uppercase;
        color: $text-muted;
        font-size: 0.8em;
      }

    }

    .selectize-dropdown {
      @include border-radius(0 !important);
    }
  }
}
