.bootstrap-select.themed-select {

  // Button Base Style
  button {
    border-radius: 3px;
    background: transparent;
    color: $midnight-mid;
    border: 1px solid $grey;
  }

  // Button state styles
  button:hover, button:active, button:focus, .btn-group.open .dropdown-toggle, &.open > .btn-default.dropdown-toggle, .dropdown-toggle:focus {
    background-color: transparent;
    border-color: $blue !important;
    color: $blue !important;
    @include box-shadow(none !important);
    outline: 0 !important;
  }

  // Dropdown Menu styles
  &.open {

    button {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    .dropdown-menu {
      padding: 0;
      border: 1px solid $blue;
      border-top: 0;
      margin: 0;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      @include box-shadow(none!important);

      li {

        a {
          outline: 0;
          height: 34px;
          padding: 0 20px;
          display: flex;
          align-items: center;

          &:hover, &:focus {
            background: $blue;
            color: #fff;
          }

          &:active {
            background : #fff;
            color: $blue;
          }
        }

        &.selected {
          a {
            background : #fff;
            color: $blue;
          }
        }
      }
    }

    &.dropup {

      button {
        border-bottom-left-radius: 3px;
        border-bottom-right-radius: 3px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      div.dropdown-menu {
        border-bottom: 0;
        border-top: 1px solid $blue;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
    }

  }

}