.power-table {

  thead {

    tr {
      th {
        font-weight: normal;
        padding: 1.25em 0.5em;
        border-bottom: 1px solid $border-light;

        &.active {
          background-color: #fff !important;
        }

        &.active.asc:after, &.active.desc:after {
          font-family: FontAwesome;
        }

        &.active.asc:after {
          content: "\f0d8";
          margin-left: 5px;
        }

        &.active.desc:after {
          content: "\f0d7";
          margin-left: 5px;
        }

        &:hover {
          color: $blue;
          background: $extra-light-blue !important;
        }
      }
    }
  }

  tbody {

    tr {
      td {
        border-bottom: 1px solid $border-light;
        padding: 0.75em 0.5em;

        a {
          border-bottom: 1px dotted $black;

          &:hover {
            color: $blue;
            border-bottom: 1px solid $blue;
          }
        }
      }

      &:hover {
        background: $extra-light-blue;
      }
    }
  }
}

.table-standard {
  
  @media screen and (min-width: $screen-sm-min) {
    margin: 0 0 15px;
  }

  thead {
    tr {
      background: $blue;
      th {
        height: 45px;
        border: 0;
        padding: 10px 26px 10px 10px;
        color: #fff!important;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
        vertical-align: middle;
        position: relative;

        &.required:after {
          position: absolute;
          top: 7px;
          content: "*";
          text-transform: lowercase;
          font-size: 1.5em;
          margin: 0 0 0 3px;
          color: #fff;
        }

        &:first-child {
          border-left: 1px solid $blue;
        }

        &:last-child {
          border-right: 1px solid $blue;
        }

        &.padding-even {
          padding: 10px;
        }

        &.heading-center {
          text-align: center;
        }

        &.heading-right {
          text-align: right;
        }

        &.current_asc, &.current_desc {

          &:after {
            margin: 0 0 0 3px;
            font-family: FontAwesome;
            font-size: 1.3em;
            position: absolute;
            right: 10px;
            top: calc(50% - 12px);
          }
        }

        &.current_asc:after {
          content: '\f0d8';
        }

        &.current_desc:after {
          content: '\f0d7';
        }
      }
    }
  }

  tbody {
    tr {

      &:first-child {
        td {
          border-top: 0;
        }
      }

      &:last-child {
        td {
          border-bottom: 1px solid $border-light;
        }
      }

      td {
        border-top: 1px solid $border-light;
        padding: 10px;
        vertical-align: middle;

        &:first-child {
          border-left: 1px solid $border-light;
        }

        &:last-child {
          border-right: 1px solid $border-light;
        }

        &.content-right {
          text-align: right;
          padding: 10px 26px 10px 10px;
        }

        &.content-center {
          text-align: center;
          padding: 10px 26px 10px 10px;
        }

        &.fit-to-content {
          width: 1%;
        }
      }
    }
  }
}


.table-controls {
  margin: 0 0 15px 0;
}