.table-controls {
  margin: 0 0 15px 0;
}

.table-standard {

  @media screen and (min-width: $screen-sm-min) {
    margin: 0 0 15px;
  }

  thead {
    tr {
      background: $blue;
      th {
        height: 60px;
        border: 0;
        padding: 10px 26px 10px 10px;
        color: #fff !important;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 0.8em;
        vertical-align: middle;
        position: relative;

        &.required:after {
          position: absolute;
          top: 7px;
          content: "*";
          text-transform: lowercase;
          font-size: 1.5em;
          margin: 0 0 0 3px;
          color: #fff;
        }

        &:first-child {
          border-left: 1px solid $blue;
        }

        &:last-child {
          border-right: 1px solid $blue;
        }

        &.padding-even {
          padding: 10px;
        }

        &.heading-center {
          text-align: center;
        }

        &.heading-right {
          text-align: right;
        }

        &.current_asc, &.current_desc {

          &:after {
            margin: 0 0 0 3px;
            font-family: FontAwesome;
            font-size: 1.3em;
            position: absolute;
            right: 10px;
            top: calc(50% - 12px);
          }
        }

        &.current_asc:after {
          content: '\f0d8';
        }

        &.current_desc:after {
          content: '\f0d7';
        }

        &.heading-select {

          position: relative;

          .checkbox {
            display: flex;
            align-items: center;
            border: 1px solid #fff;
            padding: 5px;

            label {
              z-index: 3;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 20px;
              height: 20px;

              i {
                color: #fff;

                &.checked {
                  color: #fff;
                }
              }
            }
          }

          .bulk-actions {
            z-index: 2;
            position: absolute;
            right: 0;
            white-space: nowrap;
            top: 14px;
            height: 32px;
            left: -1px;
            background: $blue;
            text-align: left;

            .btn-bulk {
              height: 100%;
              border: 1px solid #fff;
              padding: 0 12px 3px 30px;
              margin-left: 10px;
              border-radius: 0;
              position: relative;
              color: #fff!important;

              .fa-caret-down {
                margin-left: 5px;
              }

              .bulk-dropdown-list {
                color: #000;
                margin: 0;
                border: 0;

                .bulk-single-action {
                  height: 30px;
                  display: flex;
                  justify-content: center;
                  align-items: center;

                  &:hover {
                    cursor: pointer;
                    background: $extra-light-grey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  tbody {
    tr {

      &:first-child {
        td {
          border-top: 0;
        }
      }

      &:last-child {
        td {
          border-bottom: 1px solid $border-light;
        }
      }

      &.is-selected {
        background: $extra-light-yellow;
      }

      td {
        border-top: 1px solid $border-light;
        padding: 10px;
        vertical-align: middle;

        &:first-child {
          border-left: 1px solid $border-light;
        }

        &:last-child {
          border-right: 1px solid $border-light;
        }

        &.content-right {
          text-align: right;
          padding: 10px 26px 10px 10px;
        }

        &.content-center {
          text-align: center;
          padding: 10px 26px 10px 10px;
        }

        &.fit-to-content {
          width: 1%;
        }
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          background: $extra-light-blue;
        }
      }
    }
  }
}