// Colors
$extra-light-red: #FAE5E5;
$light-red: #FACACD;
$red: #E74C3C;
$dark-red: #C0392B;
$extra-dark-red: #8A1C18;
$extra-light-yellow: #FFFBE9;
$light-yellow: #FCFFBA;
$yellow: #FFED87;
$dark-yellow: #FFB400;
$brown: #5A410C;
$orange: #FFA339;
$dark-orange: #D35400;
$extra-light-green: #C8FFC6;
$light-green: #9CFFA8;
$green: #2ECC71;
$dark-green: #27AE60;
$extra-dark-green: #1C6F3D;

$extra-light-blue: #eff9fd;
$light-blue: #67BAFF;
$faded-blue: rgba(52, 152, 219, 0.8);
$blue: #3498DB;
$dark-blue: #2980B9;

$faded-midnight: rgba(41, 70, 97, 0.6);
$midnight: #294661;
$midnight-mid: #7F94A1;
$midnight-light: #AEBAC7;

$extra-light-grey: #F5F5F5;
$light-grey: #E9E9E9;
$grey: #D2D2D2;
$dark-grey: #757575;
$extra-dark-grey: #5A5A5A;
$black: #353535;

$border-light: #E6E9EB;
$border-dark: #A1A4AA;

$body-background: #FCFCFC;
$side-menu-background: #EFEFEF;

$off-white: #fafbfc;

$text-muted: #9CA1A8;

// Box shadow
$standard-box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.05);
$standard-border-radius: 5px;
$standard-border: 1px solid rgba(0, 0, 0, 0.09);

// dark
$dark-box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.08);

// Z-Indexes

$z-pr-all-dropdown-filters: 8;
$z-item-add-modal: 10;
$z-button-show-side-menu: 2;
$z-side-menu-user-popover: 2;

// Fonts
$proxima: proxima-nova, Helvetica, sans-serif;
$futura: futura-pt, proxima-nova, Helvetica, sans-serif;

$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;


// Over-ride bootstrap grid sizes
//$screen-sm-min: 998px;
//$screen-md-min: 1222px;
//$screen-lg-min: 1430px;

// override BS gutter (padding)
//$grid-gutter-width: 20px;

$side-menu-width: 180px;

$topbar-height: 50px;
