.activities-log {
  padding: 16px;

  .list-activities {
    border: 1px solid $grey;

    .single-activity {
      padding: 5px 10px;
      background: $extra-light-grey;

      &:not(:last-child){
        border-bottom: 1px solid $grey;
      }

      .header {
        color: $midnight-light;
        display: flex;
        justify-content: space-between;
      }

      .body {
        color: $faded-midnight;

        a {
          font-size: 1em;
        }
      }
    }
  }
}