.activities-log {

  h5 {
    margin: 0 0 10px;
  }

  .list-activities {
    border: 1px solid $grey;

    .single-activity {
      padding: 5px 10px;
      background: $extra-light-grey;

      &:not(:last-child){
        border-bottom: 1px solid $grey;
      }

      .header {
        color: $text-muted;
        display: flex;
        justify-content: space-between;
      }

      .body {
        color: $midnight-mid;

        a {
          color: $midnight-mid;
          border-bottom: 1px dotted $midnight-mid;

          &:hover {
            color: $blue;
            border-bottom: 1px solid $blue;
          }
        }
      }
    }
  }
}