.badge {
  padding: 5px 10px;
  border-radius: 3px;
  font-weight: normal;
}

.badge-warning {
  background: $yellow;
  color: $brown;
}

.badge-success {
  background: $light-green;
  color: $extra-dark-green;
}