.badge {
  padding: 0.8em 1.8em 0.7em;
  border-radius: 3px;
  font-weight: normal;
  text-align: center;
  font-size: 1.2em;
}

.badge-warning {
  background: $yellow;
  color: $brown;
}

.badge-success {
  background: $light-green;
  color: $extra-dark-green;
}

.badge-danger {
  background: $light-red;
  color: $extra-dark-red;
}

.badge-disabled {
  background: $light-grey;
  color: $extra-dark-grey;
}