.bank_account {
  border: 1px solid $grey;
  padding: 10px;

  label {
    margin: 0;
  }

  .info {
    display: block;
    margin: 0 0 10px;
  }

  .name-number {
    display: flex;

    .account_name {
      span {
        margin: 0 10px 0 0;
      }
    }
  }

  .phone_swift {
    display: flex;

    .bank_phone {
      margin: 0 10px 0 0;
    }

    .swift {
      span {
        text-transform: uppercase;
      }
    }
  }
}