.new-item-add-photo {
  position: relative;

  .file-input {

    .file-preview {
      padding: 0;
      margin: 0 0 15px;
      border: none;

      .fileinput-remove {
        position: absolute;
        top: 0;
        right: 0;
        float: none;
      }

      .file-preview-thumbnails {
        display: flex;
        overflow: scroll;

        .file-preview-frame {
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          height: auto;
          border: none;
          margin: 0 15px 0 0;
          padding: 0;

          &:hover {
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
          }

          &:last-child {
            margin: 0;
          }

          .file-thumbnail-footer {
            display: none;
          }

          img {
            max-width: 100%;
          }
        }
      }
    }
  }
}


