
.form-control {
  border-color: $grey;
  @include box-shadow(none);

  &:focus, &.active {
    border-color: $blue;
    outline: 0;
    @include box-shadow(none);
  }

  // Form Controls that edit w/o Form
  &.live-editor {
    padding: 0;
    border-radius: 0;
  }
}

label.required {
  display: flex;
  align-items: center;
  margin: 0 0 6px 0;

  &:after {
    content: "*";
    text-transform: lowercase;
    font-size: 1.5em;
    margin: 0 0 0 2px;
    color: $red;
  }
}

.shift-label-input {
  margin: 0 0 15px 0;
  position: relative;
  border: 1px solid $border-light;

  input {
    width: 100%;
    height: -webkit-calc(3.5em);
    height: calc(3.5em);
    padding: 2em 1em 1em calc(0.8em - 1px);
    background: #FFFFFF;
    resize: none;
    outline: none;
    border: 1px solid #E0E0E0;
    color: $black;
  }

  label, label[placeholder] {
    position: absolute;
    top: 1.8em;
    left: 1em;
    display: block;
    pointer-events: none;
    line-height: 1em;
  }

  label:before {
    content: attr(placeholder);
    display: inline-block;
    white-space: nowrap;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  label:after {
    display: inline-block;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }

  input[type="text"].not-required:focus + label[placeholder]:before,
  input[type="text"].not-required.filled + label[placeholder]:before,
  input[type="text"][required]:focus + label[placeholder]:before,
  input[type="text"][required]:valid + label[placeholder]:before,
  input[type="email"][required]:focus + label[placeholder]:before,
  input[type="email"][required]:valid + label[placeholder]:before,
  input[type="password"][required]:focus + label[placeholder]:before,
  input[type="password"][required]:valid + label[placeholder]:before {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate(0, -1em);
    -ms-transform: translate(0, -1em);
    transform: translate(0, -1em);
    font-size: 0.9em;
  }

  input[type="text"].not-required:focus + label.required[placeholder]:after,
  input[type="text"].not-required.filled + label.required[placeholder]:after,
  input[type="text"][required]:focus + label.required[placeholder]:after,
  input[type="text"][required]:valid + label.required[placeholder]:after,
  input[type="email"][required]:focus + label.required[placeholder]:after,
  input[type="email"][required]:valid + label.required[placeholder]:after,
  input[type="password"][required]:focus + label.required[placeholder]:after,
  input[type="password"][required]:valid + label.required[placeholder]:after {
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transform: translate(0, -0.5em);
    -ms-transform: translate(0, -0.5em);
    transform: translate(0, -0.5em);
  }

  &.no-validate {
    input[type="text"].not-required:focus,
    input[type="text"].not-required.filled,
    input[type="text"][required]:focus,
    input[type="text"][required]:valid,
    input[type="email"][required]:focus,
    input[type="email"][required]:valid,
    input[type="password"][required]:focus,
    input[type="password"][required]:valid {
      border-color: $blue;
    }
  }

}

.validated-input {

  &::before {
    position: absolute;
    top: 0.5em;
    right: 1em;
    opacity: 0;
    content: '';
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    font-size: 1.5em;

    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  .error-msg {
    display: none;
  }

  &.is-filled {

    &::before {
      opacity: 1;
    }

    &.is-success::before {
      content: '\f00c';
      color: $green;
    }

    &.is-error {
      border-color: $red;

      label {
        color: $red;
      }

      &::before {
        content: '\f071';
        color: $red;
      }

      .error-msg {
        background: $extra-light-red;
        padding: 0.5em 1em 0.5em 1em;
        display: block;
        width: 100%;
        font-size: 0.9em;
        color: $red;
      }

    }

    &.is-loading::before {
      content: '\f1ce';
      -webkit-animation: spin 1s infinite linear;
      animation: spin 1s infinite linear;
      color: $grey;
    }


  }

}

