.notes {

  .list-notes {
    border-top: 1px solid $border-light;
    padding-top: 15px;
    margin: 15px 0;
    max-height: 450px;
    overflow-y: scroll;

    .single-note {
      border: 1px solid $border-light;
      padding: 15px;


      &:not(:first-child) {
        border-top: 0;
      }

      .btn-close {
        display: none;
      }

      &:hover {
        background: $extra-light-yellow;

        .btn-close {
          display: block;
        }
      }

      .notes-meta {
        margin: 0 0 5px;
        font-size: 0.9em;

        .poster {
          margin: 0 5px 0 0;
        }

        .posted {
          color: $text-muted;
        }
      }

      .content {
        margin: 0;
      }
    }
  }
}