
.page-controls {
  margin: 0 0 -15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .per-page-picker {
    flex: 0 1 220px;
    margin: 0 15px 15px 0;
    display: flex;
    align-items: center;

    span {
      margin: 0 10px 0 0;
    }

    .themed-select {
      width: 75px!important;
    }
  }

  .api-paginator {
    flex: 0 1 405px;
    margin: 0 0 15px 0;


  }
}

.api-paginator {

  ul {
    justify-content: flex-start;
    display: flex;
    margin: 0;
    width: 100%;

    @media screen and (min-width: $screen-sm-min) {
      justify-content: flex-end;
    }

    li {
      cursor: pointer;
      flex: 0 1 45px;
      height: 34px;
      font-size: 1em;

      display: flex;
      border: 1px solid $grey;
      border-right: none;
      color: $midnight-mid;
      align-items: center;
      justify-content: center;

      &:not(.current_page):hover {
        color: $blue;
      }

      &:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
      }

      &:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border-right: 1px solid $grey;
      }

      &.disabled {
        color: $grey;
        cursor: not-allowed;
        &:hover {
          color: $grey;
        }
      }

      &.current_page {
        background: $body-background;
        color: $midnight-mid;
        cursor: pointer;
        &:hover {
          color: $midnight-mid;
        }
      }

      &.paginate-nav {

        &.disabled {
          color: $grey;
          cursor: not-allowed;
        }

        i {
          font-weight: bold;
        }
      }
    }
  }
}