.text-clipper {
  @include transition(all 2s);

  &.expanded {
    max-height: 5000px!important;
  }

  .btn-show-more-text {
    display: block;
    color: $text-muted;
    font-size: 1.75em;
    line-height: 1;
    text-align: center;
    margin: -10px 0 0 0;

    &:hover {
      color: $blue;
    }
  }

}