#po-submit-1 {
  .project-selecter {
    margin: 0 0 15px;

    .themed-select {
      button {
        @include border-radius(0);
      }
    }
  }

  .purchase_requests {

    &.inactive {
      position: relative;
      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.6;
      }
    }

    .pr-controls {
      margin: 0 0 15px;
      .form-pr-search {
        display: block;
        input {
          @include border-radius(0);
        }
      }
    }

    .pr-controls-bottom {
      .api-paginator {
        ul {
          li {
            min-width: 35px;
          }
        }
      }
    }

    .table-responsive {
      margin: 0 0 15px 0;

      .table-purchase-requests-po-submit {
        border-top: 0;

        .col-checkbox {
          width: 50px;
          text-align: center;
        }

        .col-item {

          .item-brand, .item-name {
            display: inline-block;
          }

          .bottom {
            display: block;
            .badge-urgent {
              margin: 0 5px 0 0;
            }
            .quantity {
              display: inline-block;
              label {
                margin: 0;
              }
            }
          }
        }

        .col-due {
          width: 100px;
          text-align: center;
        }
      }
    }
  }

  .line-items {

    .line-items-container {
      .table {

        @media screen and (min-width: $screen-sm-min) {
          margin: 0 0 15px 0;
        }

        .col-item {
          position: relative;

          .btn-close {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 1.2em;
            display: none;

            &:hover {
              color: $red;
            }
          }

          &:hover {
            .btn-close {
              display: block;
            }
          }

        }
      }
    }

    .line-items-control {
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      margin: 0 -10px -10px -10px;

      .btn {
        display: flex;
        align-items: center;
        margin: 0 10px 10px 10px;
      }

      .btn-clear {
        i {
          margin: 0 5px 0 0;
          font-size: 1.3em;
        }
      }
      .btn-next {
        display: flex;
        align-items: center;

        i {
          margin: 0 0 0 5px;
          font-size: 1.3em;
        }
      }
    }
  }
}